.component {
    float: right;
}

.head {
    padding-top: 2%;
    text-align: center;
    font-size: calc(12px + 2vmin);
    color: white;
}

.bottom {
    border-bottom: 1.5px solid white;
}

.top {
     text-decoration: overline;
}

.down {
    padding-top: 0px;
}