.roots {
    float: right;
    margin: 3px;
}

.head {
    padding-top: 2%;
    text-align: center;
    font-size: calc(12px + 2vmin);
    color: white;
}

.root {
    display: flex;
    margin-bottom: 3px;
    border-bottom: 1.5px solid white;
    padding-bottom: 3px;
}

.root-radic {
    margin-top: -7px;
    margin-right: -2px;

    font-weight: 500;
}

.root-top {
     text-decoration: overline;
}

.down {
    padding-top: 0px;
}